.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  flex-direction: column;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 30%;
  max-width: 30%;
}

.image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
  margin-left: 100px;
}

.titleRecipe{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.btnMasInfo{
    color: lightcoral;
}
